.folder {
    background-image: url(../../folder.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    margin-top: 70px;
    margin-left: 70px;
}
p{
    height: 50px;
    width: 50px;
}