<form>
  
  <button class="btn btn-primary" type="button"  (click)="onSubmit(); clicked = true;">
      click
  </button>
  <app-child [child]="leafs"></app-child>
  
  <!--<div *ngFor="let comment of comments">
    <ul>
     <li>
       {{comment.text}}
       <comments [comments]="comment.comments" *ngIf="comment.comments"></comments>
     </li>
    </ul>
  </div>-->
  

  <!--<ul class="list-group" >
    <li *ngFor="let e of empList" class="list-group-item" (click)="e.index > ind ? onSubmit() : onClick()">
        {{ e.name }}
    </li>
  </ul>-->

</form>